*.log
freerdp2-x11/
freerdp2-x11-dbg/
libfreerdp-client2/
libfreerdp-server2/
libfreerdp2-dev/
libfreerdp2/
libwinpr2-dev/
libwinpr2/
tmp/
*.substvars
.debhelper/
files
freerdp2-shadow-x11-dbg/
freerdp2-shadow-x11/
freerdp2-dev/
libfreerdp-client2-dbg/
libfreerdp-server2-dbg/
libfreerdp2-dbg/
libwinpr2-dbg/
winpr-utils-dbg/
winpr-utils/
freerdp2-wayland-dbg/
freerdp2-wayland/
libfreerdp-shadow2-dbg/
libfreerdp-shadow2/
libuwac0-dbg/
libuwac0-dev/
libuwac0/
debhelper-build-stamp
libxfreerdp-client2
libxfreerdp-client2-dbg
libwinpr-tools2
